body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  justify-content: center;
  align-items: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
}

.darksquare{

  background: burlywood;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
}

.circle {
  border-radius: 50%;
  background-color: black;
  width: 40px;
  height: 40px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleRed {

  border-radius: 50%;
  background-color: Red;
  width: 40px;
  height: 40px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.redKing{
  border-radius: 50%;
  background-color: Red;
  width: 40px;
  height: 40px;
  margin: 16px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  font-weight: 8px;

}

.blackKing{
  border-radius: 50%;
  background-color: black;
  width: 40px;
  height: 40px;
  margin: 16px;
  text-align: center;
  line-height: 21px;
  line-height: 40px;
  font-size: 25px;
  color: white;
}

.resetButton{
  background-color:green;
  color: white;
  padding: 12px 28px;
}
.resetButton:hover{
  background-color: white;
  color: black;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}
